footer {
    height: 90px;
    width: 100%;
    background-color: #606758;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 0 #0003;
    color: white;
    
}
@media (min-width: 1260px) {
    footer {
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
    }
}

